nav > .nav.nav-tabs{

  border: none;
  color:#fff;
  background:#272e38;
  border-radius:0;
}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  position: relative;
  border: none;
  padding: 18px 25px;
  color:#fff;
  background:#272e38;
  border-radius:0;
}

nav > div a.nav-item.nav-link.active:before
 {
  position: absolute;
  content: "";
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
  border: 15px solid transparent;
  border-top-color: #e74c3c;
}
.tab-content{
  background: #fdfdfd;
  line-height: 25px;
  border: 1px solid #ddd;
  border-top:5px solid #e74c3c;
  border-bottom:5px solid #e74c3c;
  padding:30px 25px;
  margin-bottom: 20px;
}
nav > div a.nav-item {
  border-right: 1px solid #ffffff!important;
}
@media (max-width: 1280px) {
  nav > div a.nav-item {
    border-top: 1px solid #ffffff!important;
  }
}
nav > div a.nav-item:last-child {
  border-right: none!important;
}
nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
  background: #e74c3c;
  color:#fff;
  border-radius:0;
  transition:background 0.3s linear;
}

.nav-item.nav-link.active {
  background: #e74c3c!important;
}

.is-wide {
  width: 100%;
}

.input_area {
  min-height: 200px;
  color: #515151;
  padding-left: 0;
  padding-right: 20px;
  @media only (max-width: 414px) {
    padding-right: 0;
  }
}

.input_area input {
  padding: 5px 10px;
}


.input_area i.fa-sort {
  color: gray;
  margin-left: 2%;
}

.btn-sq {
  border-radius: 0!important;
}

.the_q h3 {
  font-size: 18px;
}

.form_headers {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.form_headers-item {
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 800px) {
  .form_headers {
    margin-left: 0px;
    margin-right: 0px;
  }
  .form_headers-item {
    padding-left: 0px;
    padding-right: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  }
  .btn-sq {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
  }
}


.input_item, .question {
  position: relative;
  list-style: none;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

    -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;

      -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

          margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #c3c3c3;
  padding: 5px;
  transition: linear .3s;
}


.input_item {
  padding-right: 40px;
}

.input_item:hover, .question:hover {
  background-color: lightgray;
  transition: linear .3s;
}

.input_item label , .question{
  flex: 0 0 100%;
  max-width: 100%;
}
.sm_w-sp  {
  flex: 0 0 95%;
  max-width: 95%;
}
@media (max-width: 800px) {
  .is-wide_sp {
    width: 100%;
  }
}
.opt_r {
  width: 40px;
}
.remove_data, .opt_r {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  justify-content: space-between;
  @media only (max-width: 414px) {
    right: -5px;
  }
}

.remove_data {
  padding-right: 10px;
}

.remove_data:hover {
  text-decoration: none;
}

#form_inputs {
  width: 100%;
}

#form_inputs .card-header {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}


.flex100 {
  flex: 0 0 100%;
  max-width: 100%;
}

#category_modal, #client_modal {
  .modal-header {
    display: block;
  }
}

#category_modal2 .cont{
  font-size: 16px;
}

#pg-client {
  margin-top: 100px;
}

input[type="file"] {
  padding-left: 0;
  /*border-bottom: 1px solid #000;*/
}

.dblock {
  display: block;
}

#cInfo_modal {
  .modal-body {
    padding: 20px 40px;
  }
}

.client_data_info {
  ul {
    display: block;
    width: 100%;
    list-style: none;
    padding-left: 0;
    li {

    }
  }
}
.tr {
  text-align: right;
}

.np_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  padding: 30px;
  background-color: #fff;
}

.intro {
    font-size: 18px;
    font-weight: 600;
    p {
      margin-bottom: 20px;
    }
}

.dflex_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
  @media only screen and (max-width: 568px) {
    margin-left: 0;
    margin-right: 0;
  }
  .div_phone_col {
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
    @media only screen and (max-width: 568px) {
      padding-left: 0;
      padding-right: 0
    }
    &.is_sel {
      max-width: 200px;
      width: 100%;
      @media only screen and (max-width: 568px) {
        max-width: 100%;
      }
    }
  }
  @media only screen and (max-width: 568px) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    .div_phone_col {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
}

#alert_err {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
    z-index: 9999;
}

.div_locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 100px;
    .col_item {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
        @media (max-width: 768px) {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.mb_10 {
  margin-bottom: 10px;
}

.app_book_no {
    display: none;
}

.q_a {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}

.color_show {
  display: none;
}

.flex-between {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}