nav > .nav.nav-tabs {
  border: none;
  color: #fff;
  background: #272e38;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active {
  position: relative;
  border: none;
  padding: 18px 25px;
  color: #fff;
  background: #272e38;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

nav > div a.nav-item.nav-link.active:before {
  position: absolute;
  content: "";
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  border: 15px solid transparent;
  border-top-color: #e74c3c;
}

.tab-content {
  background: #fdfdfd;
  line-height: 25px;
  border: 1px solid #ddd;
  border-top: 5px solid #e74c3c;
  border-bottom: 5px solid #e74c3c;
  padding: 30px 25px;
  margin-bottom: 20px;
}

nav > div a.nav-item {
  border-right: 1px solid #ffffff !important;
}

@media (max-width: 1280px) {
  nav > div a.nav-item {
    border-top: 1px solid #ffffff !important;
  }
}

nav > div a.nav-item:last-child {
  border-right: none !important;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
  border: none;
  background: #e74c3c;
  color: #fff;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.nav-item.nav-link.active {
  background: #e74c3c !important;
}

.is-wide {
  width: 100%;
}

.input_area {
  min-height: 200px;
  color: #515151;
  padding-left: 0;
  padding-right: 20px;
}

@media (max-width: 414px) {
  .input_area {
    padding-right: 0;
  }
}

.input_area input {
  padding: 5px 10px;
}

.input_area i.fa-sort {
  color: gray;
  margin-left: 2%;
}

.btn-sq {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.the_q h3 {
  font-size: 18px;
}

.form_headers {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.form_headers-item {
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 800px) {
  .form_headers {
    margin-left: 0px;
    margin-right: 0px;
  }
  .form_headers-item {
    padding-left: 0px;
    padding-right: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .btn-sq {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
  }
}

.input_item, .question {
  position: relative;
  list-style: none;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #c3c3c3;
  padding: 5px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.input_item {
  padding-right: 40px;
}

.input_item:hover, .question:hover {
  background-color: lightgray;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.input_item label, .question {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.sm_w-sp {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 95%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 95%;
          flex: 0 0 95%;
  max-width: 95%;
}

@media (max-width: 800px) {
  .is-wide_sp {
    width: 100%;
  }
}

.opt_r {
  width: 40px;
}

.remove_data, .opt_r {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 414px) {
  .remove_data, .opt_r {
    right: -5px;
  }
}

.remove_data {
  padding-right: 10px;
}

.remove_data:hover {
  text-decoration: none;
}

#form_inputs {
  width: 100%;
}

#form_inputs .card-header {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex100 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

#category_modal .modal-header, #client_modal .modal-header {
  display: block;
}

#category_modal2 .cont {
  font-size: 16px;
}

#pg-client {
  margin-top: 100px;
}

input[type="file"] {
  padding-left: 0;
  /*border-bottom: 1px solid #000;*/
}

.dblock {
  display: block;
}

#cInfo_modal .modal-body {
  padding: 20px 40px;
}

.client_data_info ul {
  display: block;
  width: 100%;
  list-style: none;
  padding-left: 0;
}

.tr {
  text-align: right;
}

.np_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
       -o-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  text-align: center;
  padding: 30px;
  background-color: #fff;
}

.intro {
  font-size: 18px;
  font-weight: 600;
}

.intro p {
  margin-bottom: 20px;
}

.dflex_input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
}

@media only screen and (max-width: 568px) {
  .dflex_input {
    margin-left: 0;
    margin-right: 0;
  }
}

.dflex_input .div_phone_col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 5px;
  padding-right: 5px;
}

@media only screen and (max-width: 568px) {
  .dflex_input .div_phone_col {
    padding-left: 0;
    padding-right: 0;
  }
}

.dflex_input .div_phone_col.is_sel {
  max-width: 200px;
  width: 100%;
}

@media only screen and (max-width: 568px) {
  .dflex_input .div_phone_col.is_sel {
    max-width: 100%;
  }
}

@media only screen and (max-width: 568px) {
  .dflex_input {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .dflex_input .div_phone_col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
}

#alert_err {
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-30%);
     -moz-transform: translateX(-50%) translateY(-30%);
      -ms-transform: translateX(-50%) translateY(-30%);
       -o-transform: translateX(-50%) translateY(-30%);
          transform: translateX(-50%) translateY(-30%);
  z-index: 9999;
}

.div_locations {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 100px;
}

.div_locations .col_item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .div_locations .col_item {
    margin-bottom: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .div_locations .col_item:last-child {
    margin-bottom: 0;
  }
}

.mb_10 {
  margin-bottom: 10px;
}

.app_book_no {
  display: none;
}

.q_a {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}

.color_show {
  display: none;
}

.flex-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
